* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BACKGROUND CONTAINER */
.cover {
  width: 100%;
  height: 100vh;
  background-image: url('../../../../../assets/images/daniel-leone-v7daTKlZzaw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ====================================================== */
/* LOGO ANIMATION */
#Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
}

#Logo path:nth-child(1) {
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  animation: line-anim 2s ease forwards 0.2s;
}
#Logo path:nth-child(2) {
  stroke-dasharray: 604;
  stroke-dashoffset: 604;
  animation: line-anim 2s ease forwards 0.4s;
}
#Logo path:nth-child(3) {
  stroke-dasharray: 636;
  stroke-dashoffset: 636;
  animation: line-anim 2s ease forwards 0.6s;
}
#Logo path:nth-child(4) {
  stroke-dasharray: 464;
  stroke-dashoffset: 464;
  animation: line-anim 2s ease forwards 0.8s;
}
#Logo path:nth-child(5) {
  stroke-dasharray: 297;
  stroke-dashoffset: 297;
  animation: line-anim 2s ease forwards 1s;
}
#Logo path:nth-child(6) {
  stroke-dasharray: 337;
  stroke-dashoffset: 337;
  animation: line-anim 2s ease forwards 1.2s;

}
#Logo path:nth-child(7) {
  stroke-dasharray: 549;
  stroke-dashoffset: 549;
  animation: line-anim 2s ease forwards 1.4s;

}
#Logo path:nth-child(8) {
  stroke-dasharray: 464;
  stroke-dashoffset: 464;
  animation: line-anim 2s ease forwards 1.6s;

}
#Logo path:nth-child(9) {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
  animation: line-anim 2s ease forwards 1.8s;

}
#Logo path:nth-child(10) {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  animation: line-anim 2s ease forwards 2s;

}
#Logo path:nth-child(11) {
  stroke-dasharray: 604;
  stroke-dashoffset: 604;
  animation: line-anim 2s ease forwards 2.2s;

}
#Logo path:nth-child(12) {
  stroke-dasharray: 566;
  stroke-dashoffset: 566;
  animation: line-anim 2s ease forwards 2.4s;

}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
/* ====================================================== */
