<div class="container">
  <!-- tittle -->
  <div class="row">
    <h1>Registering New Technology</h1>
  </div>

  <hr>

  <form [formGroup]="technologyForm">
    <!-- Technology Name -->
    <div class="form-group">
      <label for="TecName">Technology's Name</label>
      <input type="text"
             id="TecName"
             placeholder="ex. Angular, React, Java, Swift..."
             class="form-control"
             formControlName="strName">
    </div>
    <!-- Tec level -->
    <div class="form-group">
      <label for="TecLevel">Technology's Experience</label>
      <star-rating
        id="TecLevel"
        value="4"
        totalstars="4"
        checkedcolor="red"
        uncheckedcolor="black"
        size="24px"
        readonly="false"
        (rate)="onRate($event)">
      </star-rating>
    </div>
  </form>
</div>
