<div class="container">
  <!-- tittle -->
  <div class="row">
    <h1>Registering New Work Experience</h1>
  </div>

  <hr>

  <form [formGroup]="experienceForm">
    <!-- Company Name -->
    <div class="form-group">
      <label for="CompanyName">Company's Name</label>
      <input type="text"
             id="CompanyName"
             placeholder="Company Org"
             class="form-control" formControlName="strCompanyName">
    </div>
    <!-- Position -->
    <div class="form-group">
      <label for="Position">Position You Took</label>
      <input type="text"
             id="Position"
             placeholder="Full Stack Developer"
             class="form-control" formControlName="strPosition">
    </div>
    <!-- Description -->
    <div class="form-group">
      <label for="ExperienceDesc">Description of what you did at the company</label>
      <textarea
        id="ExperienceDesc"
        cols="15" rows="3"
        class="form-control"
        formControlName="strDesc"></textarea>
    </div>
    <!-- Currently Working -->
    <div class="form-group row">

      <!-- Start Date -->
      <div class="input-group col-6">
        <label for="startDate">The date you started at this position</label>
        <input id="startDate" class="form-control" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <img src="https://img.icons8.com/android/24/000000/calendar.png">
          </button>
        </div>
      </div>
      <!-- End Date -->
      <div class="input-group col-6">
        <label for="endDate">The date you finish at this position</label>
        <input id="endDate" class="form-control" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker #f="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="f.toggle()" type="button">
            <img src="https://img.icons8.com/android/24/000000/calendar.png">
          </button>
        </div>
      </div>

    </div>
  </form>
</div>
