<div class="card border-dark mb-3" style="width: 18rem;">
  <div class="card-body">
    <!-- Name of the school -->
    <h5 class="card-title">{{ education.strSchoolName }}</h5>
    <h3 class="card-subtitle">{{ education.strTitle }}</h3>

    <div class="row" style="padding-bottom: 20px; padding-left: 15px; padding-right: 15px;">
      <span>
        {{ startDate.toLocaleString('default', { month: 'short', year: 'numeric' }) }}&nbsp; -
      </span>
      <span *ngIf="!education.boolStudyingNow">
         &nbsp; {{ endDate.toLocaleString('default', { month: 'short', year: 'numeric' }) }}
      </span>
      <span *ngIf="education.boolStudyingNow">
        &nbsp; Now
      </span>
    </div>
    <!-- Link to the company's web page -->
    <div class="row">
      <div class="col" *ngIf="education.strUrlEducationSite">
        <a target="_blank" href="{{ education.strUrlEducationSite }}">
          <button type="button" class="btn btn-outline-primary">More Info</button>

        </a>
      </div>
    </div>
  </div>
</div>
