<app-cover></app-cover>

<nav class="navbar navbar-dark bg-color">
  <span class="navbar-brand mb-0 h1">ANGEL TREVINO</span>
</nav>

<!-- PROJECTS -->
<div class="container">
  <h2>Projects</h2>
  <div class="row">
    <div class="col">
      here we are something
    </div>
  </div>
</div>

<!-- EXPERIENCE -->
<div class="container">
  <h2>Experience</h2>
  <div class="row">
    <div class="col">
      here is something
    </div>
  </div>
</div>

<!-- Languages -->
<div class="container">
  <h2>Languages & Frameworks</h2>
  <div class="row">
    <div class="col">
      another shit
    </div>
  </div>
</div>
