.bg-color {
  background-color: #030A10;
}

.container {
  margin-top: 15px;
}

.project-carousel {
  height: 25rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}
