<app-cover></app-cover>

<!-- PUBLIC NAVIGATION BAR -->
<nav class="navbar navbar-dark bg-color navbar-expand-lg">
  <span class="navbar-brand mb-0 h1">ANGEL TREVINO</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#About">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#LangFrame">Languages & Frameworks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Contact">Contact info</a>
      </li>
    </ul>
  </div>
</nav>

<!-- ABOUT ME -->
<div class="container" id="About">
  <h2>About Me</h2>
  <hr>
  <div>
    <app-aboutme></app-aboutme>
  </div>
</div>

<!-- PROJECTS -->
<div class="container" id="Projects">
  <h2>Projects</h2>
  <hr>
  <app-project-section></app-project-section>
</div>

<!-- EXPERIENCE -->
<div class="container" id="Experience">
  <h2>Experience</h2>
  <hr>
  <app-experience-section></app-experience-section>
</div>

<!-- Education -->
<div class="container" id="Education">
  <h2>Educational History</h2>
  <hr>
  <app-education-section></app-education-section>
</div>

<!-- Languages -->
<div class="container" id="LangFrame">
  <h2>Technologies I have work with</h2>
  <hr>
  <app-technologies-section></app-technologies-section>
</div>

<!-- Contact information -->
<div class="container" id="Contact">
  <h2>Contact Me</h2>
  <hr>
  <div>
    More Stuff
  </div>
</div>
