<div class="card border-dark mb-3" style="width: 18rem;">
  <div class="card-body">
    <!-- Name of the company -->
    <h5 class="card-title">Towa</h5>
    <!-- Description of what I did -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- Period of working there -->
    <p>Start - End</p>
    <!-- Link to the company's web page -->
    <button type="button" class="btn btn-outline-primary">More Info</button>
  </div>
</div>
